{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PhotoFolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static '..css/main1.css' %}" rel="stylesheet">
  <!-- =======================================================
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1><strong>GT</strong><sub style="color: aqua;">g</sub></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">HOME</a></li>
          
          <li class="dropdown"><a href="#"><span>CHANNEL TV</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>{% for channel in chann %}
              <li><a href="{{channel.address}}">{{channel.name}}</a></li>
              {% endfor %}
            </ul>
          <li class="dropdown"><a href="#"><span>STATUS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% for movie in movi %}
                      <li><a href="{{movie.video.url}}" title="{{movie.title}}" class="glightbox preview-link" >{{movie.status}}</a></li>
                      {% endfor %}
   
            </ul>
              <li class="dropdown"><a href="#"><span>LANGUAGE</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>{% for movie in movi %}
                  <li><a href="{{movie.video.url}}" title="{{movie.title}}" class="glightbox preview-link" >{{movie.language}}</a></li>
                  {% endfor %}
                </ul>

                <li class="dropdown"><a href="#"><span>YEARS</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                   <ul> {% for movie in movi %}
                    <li><a href="{{movie.video.url}}" title="{{movie.title}}" class="glightbox preview-link" >{{movie.year_of_product}}</a></li>
                    
                    {% endfor %}
                  </ul>
                  <li class="dropdown"><a href="#"><span>CATEGORY</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                      {% for movie in movi %}
                      <li><a href="{{movie.video.url}}" title="{{movie.title}}" class="glightbox preview-link" >{{movie.categor}}</a></li>
                      {% endfor %}
                    </ul>
              
            
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="https://twitter.com/i/flow/login" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/accounts/login/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/login" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>I'm <span>Gitego </span> a Professional develp software from KIGALI City</h2>
          <p> this website movie it combune all category and agasobanuye ulso add Match</p><br>
          <a href="contact.html" class="btn-get-started">Available for hire</a>
        </div>
      </div>
    </div>
    <div class="photo">
     
  </section><!-- End Hero Section -->

  <div class="oll">
  <section style="display:flex;width:100%; height:2000px;position:absolute">
  <ul style=" height:100%; width:50%px; list-style:none; display:flex; position:absolute; ">
  <main id="main" data-aos="fade" data-aos-delay="1500">
    
    <!-- ======= Gallery Section ======= -->
    <li style=" display:flex; width:100% ">
      {% for movie in movi %}
  
     
     
      <div class="container-fluid ">
       
        <div class="row gy-4 h-100 ">
          <div class="col-xl-20 col-lg-20 col-md-20 ">
            <div class="gallery-item   h-5 w-100 ">
              <img   src ="{{movie.image.url}}" class="img-fluid " alt="">
              <div class="gallery-links  align-items-center justify-content-center">
               <div>
               <h2>{{movie.title}}</h2></div>
                <a href="{{movie.image.url}}" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"  ></i></a>
                <a href="{{movie.video.url}}" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
         
          </div><!-- End Gallery Item 
            </div>
          </div><!-- End Gallery Item -->
          
        </div>

      </div>
   
      {% endfor %}
    </li>
    
  </main><!-- End #main -->
  </ul>
</section><!-- End Gallery Section -->

</div>
   
   
 
  
    

 

</ul>
  </div>
  <div style="position: fixed;  background-color:rgb(224, 195, 195); width:100%;height: 1000px; margin-top:10000pxpx; ">
  <div class="container">
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
   
      <div class="copyright">
        &copy; Copyright <strong><span>movies</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Gitego</a>
      </div>
    </div>
  </footer><!-- End Footer -->
  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>
  

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  

</body>

</html>